<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="/CSS/reply.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/Admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <span class="logo_name">Master-U</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/admin">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/user_display"  >
                    <i class='bx bx-box'></i>
                    <span class="links_name">User Data</span>
                </a>
            </li>
<!-- 
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Team</span>
                </a>
            </li> -->
            <li>
                <a href="/message_display" class="active">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Messages</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name">Admin</span>
                <i class='bx bx-chevron-down'></i>
            </div>
        </nav>
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Users</div>
                        <div class="number">5</div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Exams</div>
                        <div class="number">03</div>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Books</div>
                        <div class="number">56</div>
                    </div>
                </div>
                <div class="box ">
                    <div class="right-side">
                        <div class="box-topic ">Total Messages</div>
                        <div class="number ">13</div>
                    </div>
                    <i></i>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="container">
                        <form action="mailto:varshith.alladi20@gmail.com" id="form" method="post" name="myForm" onsubmit="return(validate());">
                       
                            <label for="name">Name :</label>
                            <input type="text" id="name" name="name" placeholder="Enter your name"/>
                        
                            <!-- <label for="email">Email :</label>
                            <input type="email" name="email" id="email" placeholder="Enter your email" />
                       
                            <label for="password">Password :</label>
                            <input type="password" name="password" id="password" placeholder="Enter password" />
                        
                            <label for="password1">Confirm Password :</label>
                            <input type="password" id="password1" name="password1" placeholder="Confirm the password"/> -->
                        
                            <label for="reply">Write your Reply :</label>
                            <input type="text" id="reply" name="reply" placeholder="Write the reply you want to send"/>
                       
                            <input id="submit" type="submit" value="Submit" />
                
                </form>
                    </div>
                </div>
            </div>

    </section>

<script type="text/javascript">
    function validate() {

        var name = document.myForm.email.value;
        var atposition = name.indexOf("@");
        var dotposition = name.lastIndexOf(".");
        if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= name.length) {
            alert("Please enter a valid e-mail address \n atpostion:" + atposition + "\n dotposition:" + dotposition);
            return false;
        } else if (name == null || name == "") {
            alert("Email can't be blank");
            return false;
        }
    }

        if (document.myForm.name.value == "") {
            alert("Please provide your name!");
            document.myForm.Name.focus();
            return false;
        }
        if (document.myForm.email.value == "") {
            alert("Please provide your Email!");
            document.myForm.EMail.focus();
            return false;
        }
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("password1").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return (true);

    }


</script>

</body>

</html>


<!-- <html>

<head>
    <title>Form Validation</title>
    <link rel="stylesheet" href="/CSS/reply.css">
    <script type="text/javascript">
        function validate() {

            var name = document.myForm.email.value;
            var atposition = name.indexOf("@");
            var dotposition = name.lastIndexOf(".");
            if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= name.length) {
                alert("Please enter a valid e-mail address \n atpostion:" + atposition + "\n dotposition:" + dotposition);
                return false;
            } else if (name == null || name == "") {
                alert("Email can't be blank");
                return false;
            }
        }

            if (document.myForm.name.value == "") {
                alert("Please provide your name!");
                document.myForm.Name.focus();
                return false;
            }
            if (document.myForm.email.value == "") {
                alert("Please provide your Email!");
                document.myForm.EMail.focus();
                return false;
            }
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("password1").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return (true);

        }


    </script>
</head>

<body>
    
    <div class="container">
        <form action="mailto:varshith.alladi20@gmail.com" id="form" method="post" name="myForm" onsubmit="return(validate());">
       
            <label for="name">Name :</label>
            <input type="text" id="name" name="name" />
        
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" />
       
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" />
        
            <label for="password1">Confirm Password :</label>
            <input type="password" id="password1" name="password1" />
        
            <label for="reply">Write your Reply :</label>
            <input type="text" id="reply" name="reply"/>
       
            <input type="submit" value="Submit" />

</form>
    </div>


</body>

</html> -->